@import "../../Sass/App.scss";

@include media-breakpoint-down(lg) {
  .card {
    min-width: 250px !important;
  }
  .card-group {
    display: flex;
    flex-wrap: wrap;
  }
  .card-img-top {
    height: 10em;
  }
  .card-img-top {
    height: 10em;
  }
}

@include media-breakpoint-down(xs) {
  .card {
    width: 44%;
    min-width: 150px !important;
  }
  .card-group {
    display: flex;
    flex-wrap: wrap;
  }
  body {
    .card-img-top {
      height: 5em;
    }
  }
}
@include media-breakpoint-up(md) {
  .card {
    width: 900px;
  }
  .card-group {
    display: flex;
    flex-wrap: wrap;
  }
  .card-img-top {
    height: 10em;
  }
  .card-img-top {
    height: 10em;
  }
}
