@import "../../../Sass/App.scss";

.view-item-img {
  max-width: 100%;

  height: 30em;
}
.view-item-info {
  max-width: 100%;
  width: 30%;
}

@include media-breakpoint-down(md) {
  .img-wrapper {
    flex-basis: 50%;
    max-height: 50vh;
  }
  .view-item-info {
    width: 100%;
    flex-basis: 50%;
  }
  .view-item-img {
    object-fit: cover;
    height: 100%;
  }
}
@include media-breakpoint-down(sm) {
}
